 body {
   background-image: url("https://images.alphacoders.com/669/669681.jpg");
                        background-size: 1400px 1020px;
         }
      h1 {
         color: red;
      }
         h2 { 
            color: blue;
         }
         
/* unvisited link */
a:link {
    color: green;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: yellow;
} 
